h1,h2,h3,h4,h5,
.address-number,
.nN{
  font-family: 'Gochi Hand', cursive !important;
  color: #000000;
}
li {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000000;
  font-size: 15px !important;
}

a {
  color: #f06f30;
}

a:hover {
  color: #337ab7 !important;
  text-decoration: none !important;
}

.banner-img{
  border-top:4px solid #000;
  margin-bottom: 10px;
  /* height: 470px; */
  position: relative;
}
.banner-img>img {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 420px;
  z-index: 4;
  -webkit-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}
