<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="text-center">FAQs</h1>

        <h4>What is "Imagine ALL THE PEOPLE"?</h4>

        <p>We are an online community of people that believe in John Lennon's dream of a peaceful world without possessions, countries, and religions. We are starting a project to make this dream real. We start with ourselves and share our small ideas and complete small actions daily. We want to start the process of eliminating possessions, countries and religions little by little.</p>

        <h4>Who is behind this platform?</h4>

        <p>This platform is run by a group of many social entrepreneurs who strongly believe in the idea of Imagine ALL THE PEOPLE. </p>

        <h4>How do you finance this platform?</h4>

        <p>Thanks to individuals that truly believe in "Imagine ALL THE PEOPLE", we can maintain our platform which is free, and will always be free, for all our users. We believe that there will always be people who really believe in what we are doing and will therefore be happy to support us. Thanks to voluntary donations to iWith.org for "Imagine ALL THE PEOPLE", we have been able to develop this platform. To keep supporting this initiative, you can either donate to <a href="http://www.iwith.org/forms/donante" target="_blank">iWith.org</a> or also donate through <a href="https://www.teaming.net/imagineallthepeople" target="_blank">Teaming</a>.</p>

        <h4>Why should I participate?</h4>

        <p>In order to sign up, you can read <a [routerLink]="['/signup']">here</a>. Our hope is that one day we will have so much support from people all over the world, that our politicians and other powerful people will also listen to us.</p>

        <h4>Is this open to any country?</h4>

        <p>Absolutely! We invite anybody, from any part of the world to participate. This way we will see and realize that we are all the same, even though our backgrounds and cultures are different. We all want a world in peace, don't we?</p>

        <h4>How can I collaborate?</h4>

        <p>You can collaborate by <a [routerLink]="['/signup']">signing up</a> and becoming an Imaginer. Apart from that, we appreciate that you share as many ideas and actions as you can on this project. The ideas and actions can be your own or other people’s ideas that you support. We also would like to be in contact with the people that help us spread and develop "Imagine ALL THE PEOPLE" in their village, city or country. You contact us <a href="mailto:info@imagineallthepeople.world">here</a>.</p>

        <h4>Why do you say "real in 2222"?</h4>

        <p>We are working on a dream that until now was just a popular peace song written by John Lennon. As of now, we are working on the "baby steps" in order to put this dream into practice. We are realistic and know that we will not see this ideal world without possessions, countries and religions within 10, 20 or 30 years. But if every day we inspire more and more people to eliminate possessions, countries and religions, we dare to think that within 200 years this ideal world can be a reality. It's a matter of inspiring, convincing and connecting ALL THE PEOPLE. Apart from that, 2222 is just a nice goal. </p>

        <h3>GLOSSARY</h3>


        <h4>Imaginer</h4>

        <p>An Imaginer is any person that <a [routerLink]="['/signup']">signs up</a> to be a part of our project. An Imaginer supports and/or shares "Ideas in Action". By being an Imaginer, you can also create your own "Ideas in Action" that will help to eliminate possessions, countries or religions. </p>

        <h4>Idea in action</h4>

        <p>An "Idea in Action" is any new proposal described by an Imaginer. We call it "idea in Action", because we are not just a social network to connect people. We are a platform where people act and decide to do small actions proposed by other people that will help eliminate possessions, countries or religions.</p>

        <h4>The 3 categories</h4>

        <p>Once you create your "Idea in Action" you are asked to choose one of the following options:</p>
        <ul>
          <li>Imagine there's no countries</li>
          <li>Imagine no possessions</li>
          <li>Imagine no religion too</li>
        </ul>

        <p>We do this because the focus of our project is putting into practice John Lennon's idea.</p>

        <h4>Join</h4>

        <p>With every "Idea in Action" you can click on the Join button. When a certain idea has a lot of joins, this idea will be more visible on our platform as one of the most popular ideas. We will see which "Ideas in Action" will be most liked by the people. In order to join an "Idea in Action" you need to be registered as an Imaginer.</p>

        <h4>Share</h4>

        <p>By clicking on the Share button of an "Idea in Action" you can share the ideas automatically with your friends and family on different social networks. Anybody can share "Ideas in Action". You don't need to be registered as an Imaginer to share ideas.</p>

        <h4>Comment</h4>

        <p>Every "Idea in Action" will have a comment box, where users can comment. This way there will be direct contact with the person who created the "Idea in Action" and all the supporters.</p>

        <h4>Our Goal</h4>

        <p>Our goal can be read <a [routerLink]="['/imagine']">here</a>. By registering to our platform, you sign our manifest and help put our vision into practice, of John Lennon's song Imagine, of a world without possessions, countries and religions.</p>


      </div>

    </div>
  </div>
</section>
