<div *ngIf="showManifesto" class="modal-simple">
  <div class="container modal-content-simple">
    <div class="row">
      <div *ngIf="currentLanguage == availableLanguages.ENGLISH" class="col-sm-12">
        <h1 class="text-center">Manifest</h1>

        <p>We truly believe in what John imagined; a peaceful new world without possessions, countries and religions. Together we want to put into practice his beautiful idea starting with ourselves, sharing many ideas, and doing small actions that eliminate possessions, countries and religions. Our goal is to work together "bottom up", inspiring others in order to make this dream a reality in the year 2.222!</p>

        <button class="btn btn-default form-control" (click)="onAccept()">Accept</button>
      </div>
      <div *ngIf="currentLanguage == availableLanguages.SPANISH" class="col-sm-12">
        <h1 class="text-center">Manifiesto</h1>

        <p>Realmente creemos en lo que John Lennon imaginó; un nuevo mundo pacífico sin posesiones, países y religiones. Juntos queremos poner en práctica su hermosa idea comenzando por nosotros mismos, compartiendo muchas ideas y haciendo pequeñas acciones encaminadas a eliminar posesiones, países y religiones. Nuestro objetivo es trabajar juntos "de abajo hacia arriba", inspirando a otros para que este sueño se haga realidad en el año 2.222!</p>

        <button class="btn btn-default form-control" (click)="onAccept()">Accept</button>
      </div>

    </div>
  </div>
</div>





<!--

  <div class="modal-content-simple">
    <p>This is where the John Lennon Manifesto will be displayed</p>
    <div class="pull-right">

    </div>
  </div>
</div>
-->
