<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="banner-img">
                  <div id="carousel-example-generic" class="carousel slide" data-interval="3000" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                      <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                      <div class="item active">
                        <img src="assets/images/slider_generic_imagine.jpg" alt="...">
                        <div class="carousel-caption">
                        </div>
                      </div>
                      <div class="item">
                        <img src="assets/images/slider_countries_imagine.jpg" alt="slider_countries_imagine">
                        <div class="carousel-caption">
                        </div>
                      </div>
                      <div class="item">
                        <img src="assets/images/slider_possessions_imagine.jpg" alt="...">
                        <div class="carousel-caption">
                        </div>
                      </div>
                      <div class="item">
                        <img src="assets/images/slider_religion_imagine.jpg" alt="...">
                        <div class="carousel-caption">
                        </div>
                      </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="">
    <div class="container">
        <div class="row">
            <div *ngIf="currentLanguage == availableLanguages.ENGLISH" class="col-sm-12">
              <h1 class="text-center">MANIFESTO Imagine ALL THE PEOPLE</h1>
              <p>We truly believe in what John imagined; a peaceful new world without possessions, countries and religions. Together we want to put into practice his beautiful idea starting with ourselves, sharing many ideas, and doing small actions that eliminate possessions, countries and religions. Our goal is to work together "bottom up", inspiring others in order to make this dream a reality in the year 2.222!</p>
              <p>&nbsp;</p>
                <a *ngIf="!userLoggedIn" [routerLink]="['/signup']" class="btn btn-block btn-default btn-lg">SIGN THE MANIFESTO</a>
                <a *ngIf="userLoggedIn" [routerLink]="['/new-idea']" class="btn btn-block btn-default btn-lg">ADD A NEW IDEA <span class="fa fa-plus-circle"></span></a>
            </div>
            <div *ngIf="currentLanguage == availableLanguages.SPANISH" class="col-sm-12">
                <h1 class="text-center">MANIFIESTO Imagine ALL THE PEOPLE</h1>
                <p>Realmente creemos en lo que John Lennon imaginó; un nuevo mundo en paz sin posesiones, países ni religiones. Juntos queremos poner en práctica su hermosa idea comenzando por nosotros mismos, compartiendo muchas ideas y haciendo pequeñas acciones encaminadas a eliminar posesiones, países y religiones. Nuestro objetivo es trabajar juntos "de abajo hacia arriba", inspirando a otros para que este sueño se haga realidad en el año 2.222.</p>
                <p>&nbsp;</p>
                <a *ngIf="!userLoggedIn" [routerLink]="['/signup']" class="btn btn-block btn-default btn-lg">FIRMA EL MANIFIESTO</a>
                <a *ngIf="userLoggedIn" [routerLink]="['/new-idea']" class="btn btn-block btn-default btn-lg">AÑADE UNA NUEVA IDEA <span class="fa fa-plus-circle"></span></a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-center author-box">Somos {{usersCount}} Imaginers haciendo realidad el sueño de John Lennon</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="imaginers clearfix">
                    <div class="imaginersBox">
                        <img src="assets/images/cloud.png" />
                        <div class="imaginers-text">
                            <h2>{{usersCount}}</h2>
                            <p>IMAGINERS</p>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="currentLanguage == availableLanguages.ENGLISH" class="col-sm-6">
                <div class="ideas clearfix">
                    <div class="imaginersBox">
                        <img src="assets/images/plain.png" />
                        <div class="imaginers-text">
                            <h2>{{ideasCount}}</h2>
                            <p>IDEAS IN ACTION</p>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="currentLanguage == availableLanguages.SPANISH" class="col-sm-6">
                <div class="ideas clearfix">
                    <div class="imaginersBox">
                        <img src="assets/images/plain.png" />
                        <div class="imaginers-text">
                            <h2>{{ideasCount}}</h2>
                            <p>IDEAS EN ACCIÓN</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section *ngIf="ideasLoaded" class="blogPost">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div *ngIf="ideas.length > 0" class="col-sm-6 col-md-6 thumbnail_wrap">
                        <app-single-idea [idea]="ideas[0]"></app-single-idea>
                    </div>
                    <div *ngIf="ideas.length > 1" class="col-sm-6 col-md-6 thumbnail_wrap">
                        <app-single-idea [idea]="ideas[1]"></app-single-idea>
                    </div>
                    <div *ngIf="ideas.length > 2" class="col-sm-6 col-md-6 thumbnail_wrap">
                       <app-single-idea [idea]="ideas[2]"></app-single-idea>
                    </div>
                    <div *ngIf="ideas.length > 3" class="col-sm-6 col-md-6 thumbnail_wrap">
                        <app-single-idea [idea]="ideas[3]"></app-single-idea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-manifesto></app-manifesto>
<!--app-featured-ideas></app-featured-ideas-->
