a {
  color: #000000 !important;
}
a:hover {
  color: #000000 !important;
}

.social {
  color: #000000 !important;
}

li a a:hover a:focus {
  text-transform: uppercase !important;
  color:#000 !important;
}

li a:hover a:focus {
  border-top: 4px solid #000 !important;
  background-color:#f06f30 !important;
  border: 1px solid #f06f30 !important;
  background-color:#f06f30 !important;
  color: #fff !important;
}
