<!-- <nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-default">
			<ul class="nav navbar-nav">
				<li routerLinkActive="active"><a routerLink="/recipes">Home</a></li>
				<li routerLinkActive="active"><a routerLink="/shopping-list">What is Imagine</a></li>
				<li routerLinkActive="active"><a routerLink="/shopping-list">Ideas</a></li>
				<li routerLinkActive="active"><a routerLink="/shopping-list">Collaborate</a></li>
			</ul>
		</div>
	</div>
</nav> -->
<div class="row">
	<div class="well col-xs-3">Home</div>
	<div class="well col-xs-3">What is Imagine</div>
	<div class="well col-xs-3">Ideas</div>
	<div class="well col-xs-3">Contribute</div>
</div>