

.ng2-tag-input-remove {
  background: #a6a6a6;
  border-radius: 50%;
  color: #e0e0e0;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  height: 22px;
  line-height: 24px;
  margin-left: 6px;
  margin-right: -6px;
  text-align: center;
  width: 22px;
}

.ng2-tag-input-item-selected {
  color: white;
  background: #0d8bff;
}

.ng2-tag-input-item-selected .ng2-tag-input-remove {
  background: white;
  color: #0d8bff;
}
