<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 center-col">
        <h1>Ideas in action</h1>
        <div class="addthis_inline_share_toolbox"></div>

      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-11">
        <div class="form-group has-feedback">
          <!--<label for="search">Search for an idea: </label>-->
          <input type="text" id="search" name="search"
                 value="" class="form-control" (keypress)="onKey($event)"
                 placeholder="&#xf0eb; Search for an idea" [(ngModel)]="searchTerm">
        </div>
      </div>
      <div class="col-sm-1">
        <button type="button" (click)="onSearch()">Search</button>
      </div>
    </div>
  </div>
</section>
<!--<div class="container">-->
  <!--<div class="row">-->
    <!--<div class="center-block">-->
      <!--<input type="text" name="search" [(ngModel)]="searchTerm">-->
      <!--<button type="button" (click)="onSearch()">Search</button>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<section class="blogPost">
  <div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-6 thumbnail_wrap" *ngFor="let idea of ideas">
          <app-single-idea [idea]="idea"></app-single-idea>
        </div>
    </div>
  </div>
</section>

<!--div class="row center-block"  style="max-width: 980px;">
	<div class="col-xs-12" *ngFor="let idea of ideas">
		<app-single-idea [idea]="idea"></app-single-idea>
	</div>
</div-->
<div #el></div>
