@media only screen and (min-width : 300px) and (max-width : 660px) {
}

@media only screen and (min-width : 300px) and (max-width : 767px) {
    .address-number{
        background-image: none;
        height: auto;
        width: 100%;
        padding: 10px 0;
        background-color: #eee;
    }
    .headerTop,
    .address-number .realNumber{
        padding: 0;
    }
}

@media only screen and (min-width : 768px) and (max-width : 1024px) {

}

@media only screen and (min-width : 991px) and (max-width : 1024px) {

}