<section class="">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="text-center">Legal Notice</h1>

        <p>Imagine ALL THE PEOPLE guarantees that all data collected through various channels will be used in the manner and with the limitations and rights granted by Organic Law 15/1999 of December 13, for the Protection of Personal Data (LOPD). The treatment and management of the data complies with the provisions of Royal Decree 994/1999 of June 11, which approves the regulation of security measures of automated files containing personal data.</p>
        <p>You agree to Imagine ALL THE PEOPLE’s use and processing of the personal data you provide, which will be used only to manage the requested processes. Under no circumstances will Imagine ALL THE PEOPLE share the information with third parties.</p>
        <p>You may exercise your rights of access, rectification, opposition and cancellation of your personal data, in accordance with the current regulations the protection of personal data, by contacting the iWith.org Foundation Office in Spain: calle Cucurulla, 9, 2º 08002 Barcelona. Iwith.org is the Foundation that manage the Imagine ALL THE PEOPLE project.</p>
        <p>This notice is to inform users that when they are browsing through the various pages on this website, the site will use cookies. These cookies are stored on the user’s hard drive but they are unable to read any other data held there or any cookie archives created by other providers. Cookies are used with the aim of recognizing registered users and offering them a better and more personalized service (the user’s preferred language etc.). They are also used to obtain completely anonymous information about access data (date, hour, minute, frequency etc.) in order to measure certain website traffic parameters and calculate the number of hits. However, the user can choose to prevent the creation of cookies by selecting the appropriate option in their browser. In this case, the web page will still work but without the advantages of personalization.
        </p>
        <p>In order to comply with the provisions of the applicable regulations regarding information society services and electronic commerce , the general information about this website is as follows:</p>
        <ul>
          <li>Owner: iWith.org Foundation Office, Spain</li>
          <li>Address: calle Cucurulla, 9, 2º 08002 Barcelona</li>
          <li>Tel: +34 933 804 975</li>
          <li>E-mail: info@iwith.org</li>
          <li>Registration Data: Registered in the Register of International Foundations of the Generalitat de Catalunya with the number 4.</li>
          <li>C.I.F N-0391353-J</li>
        </ul>

      </div>

    </div>
  </div>
</section>
